<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtatb5Rmpb0UgFINMahBssIsPdYs9EzJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>337216830658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuji.fujitech</string>
	<key>PROJECT_ID</key>
	<string>fuji-technology</string>
	<key>STORAGE_BUCKET</key>
	<string>fuji-technology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337216830658:ios:93a661d6ad8f5044db0f5b</string>
</dict>
</plist>